// // colors
$color-primary: #2c3e50;
$color-secondary: #00bc77;
$bg-color: #12002b;
$color-white: #fff;
$color-black: #222;

$grey1: #ccc;

// font
$text-font: "Avenir";

// breakpoints
$breakpoints: (
  tablet: 768px,
  desktop: 920px,
  largeScreen:1200px,
);