.hero {
  background-image: url(../../assets/images/bank-tree.jpeg);
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;

  @include breakpoint(desktop) {
    height: 400px;
    background-position: 0% 33%;
  }

  &-content {
    position: relative;
    top: 2rem;
    width: 265px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;

    @include breakpoint(desktop) {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 365px;
      margin: 2rem;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;

  @include breakpoint(desktop) {
    flex-direction: row;
  }
}
