.signin {
  background-color: $bg-color;

  &-content {
    box-sizing: border-box;
    background-color: $color-white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
  }

  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
.input-remember {
  display: flex;

  label {
    margin-left: -0.25rem;
  }
}

.error {
  margin-top: 3px;
  color: red;
}
